.shojumaru{
    font-family: 'Shojumaru', cursive;
    color: red;
    text-shadow: black 5px 2px 2px, 0 0 0.5em orange, 0 0 0.5em orange,
    0 0 0.5em orange;
    font-size: 30px;
}

.input-insides{
    background-color: #EFE3AF;
    color: #6E1B00;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: 22px;
    padding: 4px;
    box-shadow: black 0.25px 0.25px 0.25em;
}

body {
    background:linear-gradient(150deg, wheat,#6E1B00);
    min-height: 100vh;
    min-width: 100vh;
    background-size: cover;
    margin: auto;
    background-repeat: no-repeat;
}

#form_page{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    max-height: fit-content;
    zoom: 0.75;
    transform: scale(1.1);
    transform-origin: 0 0;
}
#form_title{
    height: 10%;
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
    text-decoration-color: black;
}

.label-tweak{
    font-size: 28px;
    color: #FFC145;
    text-shadow: black 0.25px 0.25px 0.25em, 0 0 0.25em #3F0F00, 0 0 0.25em #3F0F00,
    0 0 0.25em #3F0F00;
}

form{
    max-height: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin: auto;
}

#inputs{
    height: 25%;
    display: grid;
    grid-template-rows: 50% 50%;
}

#url{
    grid-row-start: 1;
    grid-row-end: 1;
}

#video{
    grid-row-start: 2;
    grid-row-end: 2;
}

.input-value{
    display: grid;
    align-items: center;
    margin: 5px;
    grid-template-columns: 30% 70%;
}

.input-label{
    grid-column-start: 1;
    grid-column-end: 1;
}

.input-box{
    grid-column-start: 2;
    grid-column-end: 2;   
    height: 30px;
    padding: 4px;
}

#selections{
    height: 25%;
    display: flex;
    flex-direction: column;
    padding: 4px;
    justify-content: space-between;
}

.choice-value{
    height: 45%;
}

#text{
    height: 25%;
    margin: auto;
}

textarea{
    height: 300px;
}

#buttons{
    height: 25%;
    display: flex;
    flex-direction: column;
}

#radio-buttons{
    height: 50%;
    width: 90%;
}

#submit-button{
    height: 50%;
    align-self: flex-end;
    margin-top: 10px;
}

#choices{
    border: none;
    width: 100%;
}

.button{
    background-color: #6E1B00;
    color: #EFE3AF;
    text-shadow: black 2px 2px 2px;
    font-family: 'Rock Salt', cursive;
    margin: 3px;
    font-size: 15px;
    padding: 15px;
    border-radius: 28%;
    text-decoration: none;
}

.align-right{
    text-align: right;
}