#grid-container{
    display: grid;
    top: 0px;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 70% 30%;
}

#video-player{
    grid-column-start: 1;
    grid-column-end: 1;
    text-align: center;
}

#page-choices{
    grid-column-start: 2;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    align-content: center;
    min-height:50vh;
}

.search-videos{
    height: 50%;
    margin: 5px;
}

#submit-video{
    height: 50%;
    margin: 5px;
}

