body{
    background-image: url('../images/wall.jpg');
    text-align: center;
}
#myModal{
}
.shojumaru{
    font-family: 'Shojumaru', cursive;
    color: red;
    text-shadow: black 5px 2px 2px, 0 0 0.5em orange, 0 0 0.5em orange,
    0 0 0.5em orange;
}
.rock-salt{
    font-family: 'Rock Salt', cursive;
}
.modal-content {
    box-shadow: 2px 3px black;
    position: absolute;
    left: 120px;
    right: 120px;
    top: 120px;
    background-color: #EFE3AF;
    margin: auto;
    width: 25%;
    padding: 20px;
    outline: 10px solid #6E1B00;
    border: 2px inset black;
    height: 40vh;
    z-index: 5;
  }
  button{
      background-color: #6E1B00;
      color: #EFE3AF;
      text-shadow: black 2px 2px 2px
  }
  #theater-container{
      margin: 15% auto;
      width: 90%;
      height: 70vh;
  }
  #stage{
      width: 100%;
      height: 70vh;
  }
  #doors{
    position: absolute;
    width: 90%;
    height: 70vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  .door{
      display: inline-block;
      background-image: url('../images/door.jpg');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      width: 50%;
      position:relative;
      z-index: 2;
  }

#tada{    
   background-color: black;
   z-index: 1;
   position: relative;
   height: 100%;
  }
  .center-horizontally{
    margin: auto;
    position: relative;
  }
  .center-both{
      margin: auto;
      position: relative;
      top: 50%;
  }