.shojumaru{
    font-family: 'Shojumaru', cursive;
    color: red;
    text-shadow: black 5px 2px 2px, 0 0 0.5em orange, 0 0 0.5em orange,
    0 0 0.5em orange;
}
.rock-salt{
    font-family: 'Rock Salt', cursive;
    margin: 3px;
}
body{
    display: none;
    margin: 0px;
    background-color: black;
}
#grid-container{
    display: grid;
    top: 0px;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 10% 90%;
}
#title-bar{
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: black;
    border: 1px double #EFE3AF;
}
#title-text{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    margin-left: 100%;
}
#title{
    margin-left: 5%;
}
#menu-title{
    text-align: center;
    justify-content: center;
    color: white;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
}

.menu-underline{
    border-bottom: 1px solid white;
}

.link{
    color: white;
    text-align: center;
}

.link:hover{
    text-shadow: 0 0 0.5em orange, 0 0 0.5em orange,
    0 0 0.5em orange;
    transition: text-shadow .6s;
}

.log-out{
    display: none;
}

.gamer-home{
    display: none;
}

#main-stage{
    grid-row-start: 2;
    grid-row-end: 2;
    display: grid;
    grid-template-columns: 5% 5% 60% 10% 10% 10%;
    grid-template-rows: 5% 5% 75% 15%;
    background-image: url('../images/indoor-dojo-temple-vector.jpg');
    background-size: cover;
    background-position: center;
}

#site-menu{
    display: none;
    color: white;
}

#video-menu{
    color: white;
    background-color: black;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
    color: white;
    display: none;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}

#main-site{
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: white;
}

#loaded-html{
    display: none;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 4;
}

iframe{
    position: relative;
    width: 100%;
    height: 100%;
    zoom: 0.75;
    transform: scale(1.1);
    transform-origin: 0 0;

}

